/* Common inherited text options */
.gallio-report
{
	font-family: Verdana, Arial, Helvetica, Helv, sans-serif;
	font-size: 10pt;
	word-wrap: break-word; /* IE and CSS3, we use <wbr> for other browsers */
}

/* Containers */
div.gallio-report, body.gallio-report
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
	width: 100%;
}

.gallio-report div.header
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #95b0be;
	background-image: url(../img/header-background.gif);
	background-repeat: repeat-y;
	width: 100%;
	height: 59px;
	border-bottom: solid 1px black;
}

.gallio-report div.header-image
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 60px;
	background-image: url(../img/GallioTestReportHeader.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.gallio-report div.content
{
	width: 100%;
}

/* Navigation bar */
.gallio-report div.navigator
{
	position: fixed;
	right: 0px;
	bottom: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 17px;
	background-color: #d0d4d8;
	overflow: hidden;
}

.gallio-report div.navigator a.navigator-box
{
	display: block;
	cursor: pointer;
	width: 9px;
	height: 9px;
	position: absolute;
	top: 3px;
	left: 3px;
	border: solid 1px black;
}

.gallio-report div.navigator div.navigator-stripes
{
	position: absolute;
	top: 17px;
	bottom: 0px;
	width: 17px;
}

.gallio-report div.navigator div.navigator-stripes a
{
	display: block;
	cursor: pointer;
	width: 11px;
	height: 2px;
	position: absolute;
	left: 3px;
}

/* Generate a fixed layout when the report is the whole document */
body.gallio-report div.header
{
	position: fixed;
	top: 0px;
	left: 0px;
}

body.gallio-report div.content
{
	position: fixed; 
	top: 60px;
	left: 0px;
	right: 17px;
	bottom: 0px;
	overflow: auto;
	width: auto;
}

body.gallio-report div.navigator
{
	top: 60px;
}

/* Generate an embedded layout when the report is only a fragment */
div.gallio-report div.header
{
	border: solid 1px black;
}

div.gallio-report div.navigator
{
	top: 0px;
}

/* Section headings */
.gallio-report h2
{
	font-size: 13pt;
	letter-spacing: 0.15em;
	color: #1f1f1f;
	padding: 0;
	margin: 0 0 3px 0;
	text-indent: 8px;
}


/* Toggle regions */
.gallio-report ul
{
	list-style-type: none;
	padding-left: 0px;
	margin: 0px 0px 0px 0px;
}

.gallio-report div.panel
{
	margin: 0px 0px 0px 24px;
}

.gallio-report img.toggle
{
	cursor: pointer;
	margin-right: 6px;
}


/* Status colors */
.gallio-report .status-passed
{
	background-color: #008000;
}

.gallio-report .status-failed
{
	background-color: #ff0000;
}

.gallio-report .status-inconclusive
{
	background-color: #ffff00;
}

.gallio-report .status-skipped
{
	background-color: #999999;
}


/* Outcome bar */
.gallio-report table.outcome-bar
{
	display: inline;
	vertical-align: middle;
	margin-left: 8px;
}

.gallio-report div.outcome-bar
{
	overflow: hidden;
	
	border: solid 1px #000000;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;

	height: 8px;
	width: 72px;
}

.gallio-report div.outcome-bar.condensed
{
	height: 6px;
	width: 20px;
}


/* Outcome statistics */
.gallio-report span.outcome-icons
{
	font-size: 11pt;
}


/* Test Kind Icons (Note: Additional kinds in separate automatically generated css file.)  */

.gallio-report .testKind
{
	display: inline-block;
	margin: 0px 6px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../img/UnknownTestKind.png);
}

/* Test runs */
.gallio-report .testStepRun
{
	margin-top: 12pt;
	font-size: 10pt;
}

.gallio-report .testStepRunHeading
{
	font-weight: bold;
	font-size: 10pt;
}

.gallio-report .testStepRunHeading-Level1
{
	font-size: 12pt;
}

.gallio-report .testStepRunHeading-Level2
{
	font-size: 11pt;
}

.gallio-report .testStepRunHeading-Level3
{
	font-size: 10pt;
}


/* Metadata entries */
.gallio-report .metadata
{
	margin: 5px 5px 5px 0px;
	padding: 5px 5px 5px 5px;
	
	background: #f4f4ff;
	font-size: 9pt;
}

/* Test logs */
.gallio-report .log
{
	margin: 5px 0px 5px 0px;
}

.gallio-report .logAttachmentList
{
	font-size: 10pt;
	font-style: italic;
}

.gallio-report .logStream
{
	background-color: #f0f0f0;
	border-bottom: solid 1px #c6c6c6;
	border-right: solid 1px #c6c6c6;
	margin: 5px 5px 5px 0px;
	padding: 5px 5px 5px 5px;
}

.gallio-report .logStreamHeading
{
	font-weight:bold;
	font-size: 10pt;
	text-decoration: underline;
}

.gallio-report .logStreamBody
{
	font-size: 9pt;
	border-style: none;
}

.gallio-report .logStreamSection
{
	margin-top: 12pt;
	margin-bottom: 12pt;
	padding-left: 6px;
	border-left: solid 3px black;
}

.gallio-report .logStreamSectionHeading
{
	font-weight: bold;
	text-decoration: underline;
}

.gallio-report .logStreamEmbed
{
	font-style: italic;
	padding: 5px 10px 5px 10px;
}

.gallio-report .logHiddenData
{
	display: none;
}

/* Test log streams */
.gallio-report .logStream-Failures
{
	background-color: #ffd8d8;
	border: dotted 1px #905050;
}

.gallio-report .logStream-Warnings
{
	background-color: #ffffc8;
	border: dotted 1px #909050;
}

/* Test log stream markers */
.gallio-report .logStreamMarker-AssertionFailure
{
}

.gallio-report .logStreamMarker-Label
{
	font-weight: bold;
}

.gallio-report .logStreamMarker-Exception
{
	font-style: italic;
}

.gallio-report .logStreamMarker-StackTrace
{
	font-style: italic;
}

.gallio-report .logStreamMarker-Monospace
{
	font-family: Consolas, Courier New, Courier;
}

.gallio-report .logStreamMarker-Highlight
{
	background-color: Yellow;
}

.gallio-report .logStreamMarker-DiffAddition
{
	background-color: #b0ffb0;
}

.gallio-report .logStreamMarker-DiffDeletion
{
	background-color: #ffb0b0;
	text-decoration: line-through;
}

.gallio-report .logStreamMarker-DiffChange
{
	background-color: #b0b0ff;
}

.gallio-report .logStreamMarker-Ellipsis
{
	text-decoration: underline;
}

.gallio-report .embeddedImage
{
	max-width: 800px;
}

.gallio-report .attachmentLink
{
}

/* Sections */
.gallio-report div.section
{
	background-color: #ebeaea;
	margin: 5px;
	padding: 10px;
	border-bottom: solid 1px #dcdcdc;
	border-right: solid 1px #dcdcdc;
	overflow: hidden;
}

.gallio-report div.section-content
{
	background-color: #fbfbfb;
	padding: 10px 10px 10px 10px;
	overflow: hidden;
        clear:both;
}

.gallio-report table.statistics-table
{
	border-collapse: collapse;
}

.gallio-report table.statistics-table td
{
	width: 100%;
}

.gallio-report table.statistics-table td.statistics-label-cell
{
	font-weight: bolder;
	color: #646464;
	padding: 0px 10px 0px 10px;
	width: auto;
}

.gallio-report table.statistics-table tr.alternate-row td
{
	background-color: #f2f2f2;
}


/* Annotations */
.gallio-report div.annotation
{
}

.gallio-report div.annotation-message
{
	margin-left: 2em;
	text-indent: -2em;
}

.gallio-report div.annotation-location, div.annotation-reference, div.annotation-details
{
	margin-left: 4em;
	text-indent: -2em;
	font-style: italic;
}

.gallio-report .annotation-type-error
{
	color: #990000;
}

.gallio-report .annotation-type-warning
{
	color: #999900;
}

.gallio-report .annotation-type-info
{
	color: #999999;
}

/* Log Entries */
.gallio-report div.logEntry
{
}

.gallio-report div.logEntry-text
{
	margin-left: 2em;
	text-indent: -2em;
}

.gallio-report div.logEntry-details
{
	margin-left: 4em;
	text-indent: -2em;
	font-style: italic;
}

.gallio-report .logEntry-severity-error
{
	color: #990000;
}

.gallio-report .logEntry-severity-warning
{
	color: #999900;
}

.gallio-report .logEntry-severity-important
{
	color: #000000;
}

.gallio-report .logEntry-severity-info
{
	color: #999999;
}

.gallio-report .logEntry-severity-debug
{
	color: #aaaaaa;
}

/* Cross-References */

.gallio-report a:hover.crossref
{
	background-color: #eeee99;
}

.gallio-report a.crossref
{
	color: #000000;
	text-decoration: none;
	border-bottom: dotted 1px #aa00dd;
}

/* Pager */
.gallio-report ul.pager 
{
  list-style-type: none;
  padding: 5px;
  margin: 5px;
	overflow:hidden;
}

.gallio-report ul.pager li
{
  float: left;
	text-align:center;
	background-color: #fff;
}

.gallio-report ul.pager li a
{
  text-decoration: none;
	display: block;
	border: 1px solid #000;
	margin: 1px;
	padding: 1px 5px;
	color: #000;
}

.gallio-report ul.pager li span
{
	display: block;
	margin: 1px;
	padding: 1px 5px;
}

.gallio-report ul.pager li span.disabled 
{
	border: 1px solid #ccc;
	color: #ccc;
}

.gallio-report ul.pager li span.current 
{
	border: 1px solid #000;
	color: #000;
	background-color: #FFA970;
	font-weight: bold;
}

.gallio-report ul.pager li span.raw 
{
	border: 0;
	color: #ccc;
}

.accessPanel {
    display:block;
    font-size: 12px;
    font-weight: normal;
    float:right;
}

.accessPanel form {
    display: inline;
}

.accessPanel form .searchText {
    width:300px;
}

.accessPanel .dividor {
    font-weight: bold;
    font-size: 14px;
    position:relative;
    top:-2px;    
}